/* body{
    background-color: rgba(61, 221, 12, 0);
}
#myName{
    text-align: center;
}
.details{
    text-align: center;
    line-height: 0.5cm;
    color: red;
}
h2{
    color: blue;
}
table,td{
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
th{
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    color: rgb(0, 0, 0);
} */

body{
    background-color: lightgray;
}

.section{
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
}